In [2]:
import numpy as np
import pandas as pd
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\nOriginal Dataframe:\n",info)
print("\nSquare root:\n",info.apply(np.sqrt))
print("\nSum of each column:\n",info.apply(np.sum,axis=0))
print("\nSum of each row:\n",info.apply(np.sum,axis=1))

Original Dataframe:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

Square root:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

Sum of each column:
 S    12
R    36
dtype: int64

Sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [3]:
import numpy as np
import pandas as pd
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [4]:
import pandas as pd
import numpy as np
d2=pd.DataFrame([['Sai',88],["Poo",70]],columns=['EmpName','ID'])
print(d2)
d2['Age']=[20,18]
print("\n Adding a new column:\n",d2)
d2['Sex']=['Male','Male']
print("\n Addind a new column:\n",d2)

  EmpName  ID
0     Sai  88
1     Poo  70

 Adding a new column:
   EmpName  ID  Age
0     Sai  88   20
1     Poo  70   18

 Addind a new column:
   EmpName  ID  Age   Sex
0     Sai  88   20  Male
1     Poo  70   18  Male

In [5]:
import pandas as pd
import numpy as np
a=pd.DataFrame([['Sai',88],['Poo',70]],columns=['EmpName','ID'])
print(a)
b=a.assign(Age=[20,18])
print(b)

  EmpName  ID
0     Sai  88
1     Poo  70
  EmpName  ID  Age
0     Sai  88   20
1     Poo  70   18

In [6]:
import pandas as pd
info=pd.DataFrame(np.random.randn(5, 2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print(info2)
info3=info.sort_values(by='col4')
print(info3)

       col3      col4
3  0.319865 -1.250771
2 -2.170600  0.736249
0  0.312689  1.781382
4  0.247781  0.709856
1  1.184730  1.367758
       col3      col4
0  0.312689  1.781382
1  1.184730  1.367758
2 -2.170600  0.736249
3  0.319865 -1.250771
4  0.247781  0.709856
       col3      col4
3  0.319865 -1.250771
4  0.247781  0.709856
2 -2.170600  0.736249
1  1.184730  1.367758
0  0.312689  1.781382

In [10]:
import pandas as pd
import numpy as np
l=pd.DataFrame({'id':[1,2,3,4],'Name':['Sai','Poo','Saba','Yuvi'],'sub':['sub1','sub2','sub4','sub3']})
r=pd.DataFrame({'id':[1,2,3,4],'Name':['Sanjay','Saran','Som','Ruba'],'Sub':['sub2','sub4','sub3','sub5']})
print(l)
print(r)
print(pd.merge(l,r,on='id'))

   id  Name   sub
0   1   Sai  sub1
1   2   Poo  sub2
2   3  Saba  sub4
3   4  Yuvi  sub3
   id    Name   Sub
0   1  Sanjay  sub2
1   2   Saran  sub4
2   3     Som  sub3
3   4    Ruba  sub5
   id Name_x   sub  Name_y   Sub
0   1    Sai  sub1  Sanjay  sub2
1   2    Poo  sub2   Saran  sub4
2   3   Saba  sub4     Som  sub3
3   4   Yuvi  sub3    Ruba  sub5