In [3]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
dates = [dt(2011, 1, 2),
dt(2011, 1, 5),
dt(2011, 1, 7),
dt(2011, 1, 8),
dt(2011, 1, 10),
dt(2011, 1, 12)]
#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02   -1.263007
2011-01-05    1.539695
2011-01-07   -1.513173
2011-01-08    0.626891
2011-01-10    1.282733
2011-01-12   -0.282032
dtype: float64

In [5]:
print("\nDate Index alone from the series:",ts.index)

Date Index alone from the series: DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [7]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [9]:
longer_ts=pd.Series(np.random.randn(1000),
                    index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01   -0.702298
2000-01-02   -0.141272
2000-01-03   -0.453127
2000-01-04    0.568150
2000-01-05    0.155721
                ...
2002-09-22    0.757931
2002-09-23   -0.140124
2002-09-24   -0.609775
2002-09-25   -0.079867
2002-09-26   -1.357564
Freq: D, Length: 1000, dtype: float64

In [11]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01   -0.843053
2001-01-02   -0.398227
2001-01-03   -0.124927
2001-01-04    0.989594
2001-01-05    0.459316
                ...
2001-12-27   -0.064657
2001-12-28    0.151611
2001-12-29    0.516103
2001-12-30    0.242849
2001-12-31   -1.569936
Freq: D, Length: 365, dtype: float64

In [13]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01    0.215632
2001-05-02    1.097403
2001-05-03   -0.211505
2001-05-04   -1.591631
2001-05-05   -0.324623
2001-05-06   -0.537536
2001-05-07   -0.834013
2001-05-08   -0.126209
2001-05-09   -1.462263
2001-05-10    1.485716
2001-05-11    1.243636
2001-05-12    0.174475
2001-05-13   -0.572738
2001-05-14   -0.690326
2001-05-15   -0.549359
2001-05-16    1.017849
2001-05-17    1.776334
2001-05-18    0.019286
2001-05-19   -0.676978
2001-05-20   -0.052979
2001-05-21   -0.259791
2001-05-22   -1.905421
2001-05-23    0.847368
2001-05-24    0.070666
2001-05-25   -0.198428
2001-05-26    1.477416
2001-05-27    0.377938
2001-05-28   -1.577561
2001-05-29   -0.190612
2001-05-30   -0.774161
2001-05-31   -1.821740
Freq: D, dtype: float64

In [15]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01   -0.702298
2000-01-02   -0.141272
2000-01-03   -0.453127
2000-01-04    0.568150
2000-01-05    0.155721
Freq: D, dtype: float64

In [17]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01   -0.765057
2000-02-02   -0.427283
2000-02-03   -1.969206
2000-02-04   -0.339021
2000-02-05   -2.178148
2000-02-06   -1.758692
2000-02-07   -0.630447
2000-02-08   -0.573284
2000-02-09   -1.650436
2000-02-10   -0.196461
2000-02-11    1.499965
2000-02-12   -1.935112
2000-02-13    0.475880
2000-02-14    1.233013
2000-02-15   -0.678273
Freq: D, dtype: float64

In [21]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[dt(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26    0.700491
2000-09-27   -0.157548
2000-09-28    0.542857
2000-09-29   -0.261458
2000-09-30   -0.964445
                ...
2002-09-22    0.757931
2002-09-23   -0.140124
2002-09-24   -0.609775
2002-09-25   -0.079867
2002-09-26   -1.357564
Freq: D, Length: 731, dtype: float64

In [23]:
print("\nDate range from 26-9-2001 to 25-9- 2002:\n",longer_ts[dt(2001,9,26):dt(2002,9,25)])

Date range from 26-9-2001 to 25-9- 2002:
 2001-09-26   -0.160450
2001-09-27   -1.319847
2001-09-28   -0.880340
2001-09-29   -0.847824
2001-09-30   -0.402578
                ...
2002-09-21    0.873917
2002-09-22    0.757931
2002-09-23   -0.140124
2002-09-24   -0.609775
2002-09-25   -0.079867
Freq: D, Length: 365, dtype: float64