In [32]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/230901038 - Sample Sheet - Sheet1 (1).csv")
print(d)
#you can call Exel file also

    SNo. First Name  Gender Login Time  Salary  Bonus(%) Team(department)
0      1       Ravi    Male       9:45   90000        20          Finance
1      2    Bharath  Female      10:30   40000        20          Finance
2      3     Darwin  Female      10:00   10000        11               HR
3      4   Chandran  Female      11:00   10000        90          Finance
4      5     Darwin  Female       8:15   30000        30          Finance
..   ...        ...     ...        ...     ...       ...              ...
95    96       Mike  Female       9:45  110000        60          Finance
96    97     Darwin  Female       8:15   80000        40          Finance
97    98     Darwin  Female       9:25   90000        60               HR
98    99     Robert    Male      11:30   40000        15          Finance
99   100        Sam    Male       8:15   90000        25          Finance

[100 rows x 7 columns]

In [27]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/230901038 - Sample Sheet - Sheet1 (1).csv")
df=pd.DataFrame(d)
print("Columns:\n",df.columns)
print(df.shape)

Columns:
 Index(['SNo.', 'First Name', 'Gender', 'Login Time', 'Salary', 'Bonus(%)',
       'Team(department)'],
      dtype='object')
(100, 7)

In [28]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/230901038 - Sample Sheet - Sheet1 (1).csv")
print("Team:\n",df['Team(department)'])

Team:
 0     Finance
1     Finance
2          HR
3     Finance
4     Finance
       ...
95    Finance
96    Finance
97         HR
98    Finance
99    Finance
Name: Team(department), Length: 100, dtype: object

In [29]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/230901038 - Sample Sheet - Sheet1 (1).csv")
print(df[5:10])

   SNo. First Name  Gender Login Time  Salary  Bonus(%) Team(department)
5     6   Chandran  Female       9:45   80000        90               HR
6     7     Robert  Female      11:45  100000        20               HR
7     8        Sam  Female      10:20  110000        60               HR
8     9       Ravi  Female      10:20   70000        15          Finance
9    10        Sam  Female      11:45   40000        25               HR

In [30]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/230901038 - Sample Sheet - Sheet1 (1).csv")
print("Particular Person details:\n",df.loc[2])

Particular Person details:
 SNo.                     3
First Name          Darwin
Gender              Female
Login Time           10:00
Salary               10000
Bonus(%)                11
Team(department)        HR
Name: 2, dtype: object

In [31]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/230901038 - Sample Sheet - Sheet1 (1).csv")
print(d.loc[d["Salary"]==10000])

    SNo. First Name  Gender Login Time  Salary  Bonus(%) Team(department)
2      3     Darwin  Female      10:00   10000        11               HR
3      4   Chandran  Female      11:00   10000        90          Finance
15    16       Ravi  Female      11:30   10000        30          Finance
22    23   Chandran  Female       8:30   10000        20          Finance
59    60        Sam    Male      11:00   10000        70               HR
61    62    Bharath    Male      11:45   10000        50               HR
83    84     Robert  Female      10:30   10000        25          Finance
94    95       Ravi  Female       9:45   10000        20               HR

In [36]:
import pandas as pd
d=pd.read_csv("230901038CSV.csv")
df=d['Salary']/999
print(df)

0      90.09009
1      40.04004
2      10.01001
3      10.01001
4      30.03003
        ...
95    110.11011
96     80.08008
97     90.09009
98     40.04004
99     90.09009
Name: Salary, Length: 100, dtype: float64