In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
dates = [datetime(2020,1,5),
         datetime(2020,1,10),
         datetime(2020,1,15),
         datetime(2020,1,20),
         datetime(2020,1,25)]
ts = pd.Series(np.random.randn(5), index=dates)
print("\nWith this date object, create a series with datetime index:\n",ts)

With this date object, create a series with datetime index:
 2020-01-05    0.398449
2020-01-10    0.869496
2020-01-15   -0.461575
2020-01-20    1.092845
2020-01-25    0.045967
dtype: float64

In [3]:
res=ts.truncate(after="1/15/2020")
print("\nTruncate method to truncate datetime series \n", res)

Truncate method to truncate datetime series
 2020-01-05    0.398449
2020-01-10    0.869496
2020-01-15   -0.461575
dtype: float64

In [5]:
da=pd.date_range("10/1/2022", periods=10, freq="W-SUN")
print("\nDate range with day periods.\n",da)

Date range with day periods.
 DatetimeIndex(['2022-10-02', '2022-10-09', '2022-10-16', '2022-10-23',
               '2022-10-30', '2022-11-06', '2022-11-13', '2022-11-20',
               '2022-11-27', '2022-12-04'],
              dtype='datetime64[ns]', freq='W-SUN')

In [7]:
date=pd.DatetimeIndex(["1/1/2020","1/2/2020","1/2/2020","1/2/2020","1/3/2020"])
ts1=pd.Series(np.arange(5), index=date)
print("\nDuplicate datetime index:\n",ts1)

Duplicate datetime index:
 2020-01-01    0
2020-01-02    1
2020-01-02    2
2020-01-02    3
2020-01-03    4
dtype: int32

In [9]:
group=ts1.groupby(level=0)
print("\nRepeated date counts:\n",group.count())

Repeated date counts:
 2020-01-01    1
2020-01-02    3
2020-01-03    1
dtype: int64

In [11]:
long_df=pd.DataFrame(np.random.randn(10,4),index=da,columns=list("ABCD"))
print("\nMulti-column DataFrame with datatime index:\n",long_df)

Multi-column DataFrame with datatime index:
                    A         B         C         D
2022-10-02 -0.671028  0.796157  2.137621  0.561937
2022-10-09  1.232378  0.987370  1.524865 -0.178731
2022-10-16 -1.074247  0.133265  1.006451 -0.449543
2022-10-23  1.721225  1.218203 -1.101132 -0.544556
2022-10-30  0.457382  0.126444 -0.171814 -0.435341
2022-11-06 -2.281774 -0.702098 -0.019397 -2.523973
2022-11-13 -0.707228 -0.031628 -1.079232  1.035652
2022-11-20 -1.778320  1.209257  0.975101 -1.611345
2022-11-27  1.159734 -1.174042  1.557031  1.785762
2022-12-04 -1.753493  0.420883  2.021737 -0.643874