In [2]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
import pandas as pd
emp=pd.Series(['Uma','Siva','Sindhu','Rair'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to Data Frame:\n")
print(result)

Series to Data Frame:

      Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Rair  40

In [4]:
import pandas as pd
emp=pd.Series(['Uma','Siva','Sindhu','Rair'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
r=pd.DataFrame(frame)
print("\nExtracting One Column\n")
print(r['Emp'])

Extracting One Column

0       Uma
1      Siva
2    Sindhu
3      Rair
Name: Emp, dtype: object

In [5]:
import pandas as pd
emp=pd.Series(['Uma','Siva','Sindhu','Rair'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
r=pd.DataFrame(frame)
print("\nAddind a new column\n")
r['Age']=pd.Series([20,25,30,50])
print(r)
print("\nDeleting an existing column\n")
del r['Age']
print(r)

Addind a new column

      Emp  ID  Age
0     Uma  10   20
1    Siva  20   25
2  Sindhu  30   30
3    Rair  40   50

Deleting an existing column

      Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Rair  40

In [6]:
import pandas as pd
emp=pd.Series(['Uma','Siva','Sindhu','Rair'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
r=pd.DataFrame(frame)
print("\nExtracting second Row\n")
print(r.loc[1])

Extracting second Row

Emp    Siva
ID       20
Name: 1, dtype: object

In [7]:
import pandas as pd
emp=pd.Series(['Uma','Siva','Sindhu','Rair'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
r=pd.DataFrame(frame)
print("Slice rows:\n",r[1:3])

Slice rows:
       Emp  ID
1    Siva  20
2  Sindhu  30

In [9]:
import pandas as pd
emp=pd.Series(['Uma','Siva','Sindhu','Rair'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
r=pd.DataFrame(frame)
d2=pd.DataFrame((['Anu',20],['Jinu',19]),columns=['Emp','ID'])
print("Adding new row values:\n",pd.concat([r,d2]))

Adding new row values:
       Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Rair  40
0     Anu  20
1    Jinu  19

In [11]:
import pandas as pd
emp=pd.Series(['Uma','Siva','Sindhu','Rair'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
r=pd.DataFrame(frame)
print(r.drop(2)) #delete existing row

    Emp  ID
0   Uma  10
1  Siva  20
3  Rair  40