In [1]:
import pandas as pd
import numpy as np
#create df with duplicates
df=pd.DataFrame({'A':['Abi','Babu','Charles','Darwin','Abi','Charles','Darwin'],
                 'B':['one','two','three','one','two','three','one'],
                'C':np.random.randint(7,size=7),
                 'D':np.random.randint(7,size=7)})
print("Original DataFrame:\n",df)

Original DataFrame:
          A      B  C  D
0      Abi    one  1  4
1     Babu    two  5  3
2  Charles  three  2  0
3   Darwin    one  5  0
4      Abi    two  5  6
5  Charles  three  5  0
6   Darwin    one  3  0

In [7]:
#Grouping with one column sum
df1=df.groupby(['A'], as_index=False)['C'].sum()
print("Original df:\n",df)
print("\nGrouped df with one column sum:\n",df1)

Original df:
          A      B  C  D
0      Abi    one  1  4
1     Babu    two  5  3
2  Charles  three  2  0
3   Darwin    one  5  0
4      Abi    two  5  6
5  Charles  three  5  0
6   Darwin    one  3  0

Grouped df with one column sum:
          A  C
0      Abi  6
1     Babu  5
2  Charles  7
3   Darwin  8

In [8]:
#grouping with multiple columns
df2=df.groupby(['A','B'], as_index=False)['C'].sum()
print("\nGrouped df with multiple column sum:\n",df2)

Grouped df with multiple column sum:
          A      B  C
0      Abi    one  1
1      Abi    two  5
2     Babu    two  5
3  Charles  three  7
4   Darwin    one  8

In [16]:
#[C]is not mentioned
df3=df.groupby(['A'], as_index=False).sum()
print(df3)

         A           B  C   D
0      Abi      onetwo  6  10
1     Babu         two  5   3
2  Charles  threethree  7   0
3   Darwin      oneone  8   0

In [23]:
df4=df.groupby(['A','B'], as_index=False).sum()
print(df4)

         A      B  C  D
0      Abi    one  1  4
1      Abi    two  5  6
2     Babu    two  5  3
3  Charles  three  7  0
4   Darwin    one  8  0

In [22]:
df5=df.groupby(['A','B'],as_index=False)[['C','D']].sum()
print(df5)

         A      B  C  D
0      Abi    one  1  4
1      Abi    two  5  6
2     Babu    two  5  3
3  Charles  three  7  0
4   Darwin    one  8  0

In [29]:
#Using groupby() with agg()
import pandas as pd
df=pd.DataFrame({'Category':['A','B','C','A','B','C'],
                'Sales':[100,200,150,150,130,200],
                'Profit':[10,15,20,25,30,15]})
print(df)
df1=df.groupby('Category').agg({'Sales':['sum','mean'],'Profit':['sum','max']})
print(df1)

  Category  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15
         Sales        Profit
           sum   mean    sum max
Category
A          250  125.0     35  25
B          330  165.0     45  30
C          350  175.0     35  20

In [31]:
df=pd.DataFrame({'Student':['A','B','C','A','B','C'],
                'Marks':[90,76,88,78,67,90],
                'Attendance':[100,90,56,75,60,90]})
print(df)
df1=df.groupby('Student').agg({'Marks':['sum','max','mean'],'Attendance':['mean','std']})
print(df1)

  Student  Marks  Attendance
0       A     90         100
1       B     76          90
2       C     88          56
3       A     78          75
4       B     67          60
5       C     90          90
        Marks           Attendance
          sum max  mean       mean        std
Student
A         168  90  84.0       87.5  17.677670
B         143  76  71.5       75.0  21.213203
C         178  90  89.0       73.0  24.041631